.common-students {
  padding-top: 10px;

  &-header {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    width: 100vw;
  }

  &-search {
    padding: 30px;

    .submit-button {
      margin-top: 10px !important;
      padding: 12px 24px;

      .spinner-border {
        margin-left: -12px;
        margin-right: 8px;
      }
    }
  }

  &-table {
    padding: 30px;

    .spinner-wrapper {
      height: 50vh;
      width: 100vw;
      display: grid;
      align-items: center;
      justify-content: center;

      .spinner-border {
        width: 5rem;
        height: 5rem;
      }
    }

    .no-students {
      text-align: center;
      font-size: 2rem;
    }
  }
}